<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/master.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/about/us">About Us</a></li>
				<li><a href="/about/product">About Product</a></li>
			</ul>
		</nav>

		<main>
			{{{body}}}
		</main>

		<footer>
			<hr>
			<p>Footer</p>
		</footer>
	</body>
</html>
