<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="stylesheet" href="/css/master.css">
	</head>
	<body>
		<h1>This the second template layout</h1>
		<p>On the {{title}} page</p>

		<script src="/js/script.js"></script>
	</body>
</html>
